.target {
    background: black;
    width: 1000px;

    display: flex;
    align-items: center;
}
.xxx{
    background:black ;
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;

}


.a {
    width: 1000px;
    height: 200px;
    background: silver;

}

.b {
    width: 700px;
    height: 400px;
    background: red;

}

.c {
    width: 300px;
    height: 400px;
    background: green;

}