.target {
    width: 1920px;
}

.header__top {
    position: absolute;
    width: 1920px;
    height: 36px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background: #0F2438;
}

.header__menu {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;


}

.nav__item {
    display: flex;
    column-gap: 60px;
    color: #FFFFFF;


}


.header {
    position: absolute;
    width: 1920px;
    height: 196px;
    left: 0px;
    top: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.header__button {
    position: absolute;
    width: 164px;
    height: 53px;
    left: 25px;
    top: 125px;
    background: #005BB9;
    border-radius: 6px;
    color: #FFFFFF;
}

.header__button__right {
    position: absolute;
    width: 101px;
    height: 53px;
    left: 548px;
    color: #FFFFFF;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;

}

.search {
    position: absolute;
    width: 549px;
    height: 53px;
    left: 225px;
    top: 125px;

    background: #F4F5FA;
    border-radius: 6px 0px 0px 6px;
}

.header__center {
    width: 1042px;
    height: 694px;
    left: 266px;
    top: 35px;
    border-radius: 10px;
    column-gap: 20px;
    background: cornflowerblue;
}
.header__button__center{
    position: absolute;
    width: 160px;
    height: 49px;
    left: 125px;
    top: 515px;
    background: #005BB9;
    color: #FFFFFF;
    border-radius: 6px

}



.header__center__1 {
    position: absolute;
    width: 417px;
    height: 356px;
    left: 600px;
    top: 287px;
}



