.target{
    width: 1920px;
}
.header__top{
    position: absolute;
    width: 1920px;
    height: 36px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background: #0F2438;
}
.header__menu{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;


}

.nav{
    display: flex;
    column-gap: 40px;
    color: #FFFFFF;


}
/*.nav #1{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
.header{
    position: absolute;
    width: 1920px;
    height: 196px;
    left: 0px;
    top: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.header__button{
    position: absolute;
    width: 164px;
    height: 53px;
    left: 25px;
    top: 125px;
    background: #005BB9;
    border-radius: 6px;
    color: #FFFFFF;
}
.search {
    position: absolute;
    width: 549px;
    height: 53px;
    left: 225px;
    top: 125px;

    background: #F4F5FA;
    border-radius: 6px 0px 0px 6px;
}



